.mascara {
    padding: 80px 10px;
    overflow: hidden;
}

// clip-path
.mascara-grid {
    @include flex(40px);
    flex-wrap: wrap;

    img {
        max-width: 200px;
        display: block;
    }

    #mask1 {
        clip-path: circle(50%);
        overflow: hidden;
        transition: .3s;

        &:hover {
            animation: redondo 8s infinite alternate ease-in-out;
        }

        @keyframes redondo {
            0% {
                clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            }

            25% {
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            }

            50% {
                clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            }

            75% {
                clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
            }

            100% {
                clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
            }
        }
    }

    #mask2 {
        clip-path: circle(100%);
        transition: clip-path .3s ease-out;

        &:hover {
            clip-path: circle(30%);
        }
    }

    #mask3 {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 1s;

        &:hover {
            animation: formas 8s infinite alternate ease-in-out;
        }

        @keyframes formas {
            0% {
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }

            25% {
                clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
            }

            50% {
                clip-path: polygon(40% 0%, 10% 0%, 50% 150%, 0% 100%);
            }

            75% {
                clip-path: polygon(0% 20%, 100% 0%, 80% 100%, 20% 100%);
            }

            100% {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }
    }

    #mask4 {
        clip-path: url(#svgMask1);
    }

    #mask5 {
        clip-path: url(#svgMask2);
    }

    #mask6 {
        clip-path: url(#svgMask3);
    }

    .mask {
        width: 0px;
        height: 0px;
        position: fixed;
    }

    #mask7 {
        clip-path: url(#svgMask4);
    }

    #mask8 {
        clip-path: path('M 10,50 L 90,50 A 10,10 0,0,0 100,40 L 100,10 A 10,10 0,0,1 110,0 L 190,0 A 10,10 0,0,1 200,10 L 200,190 A 10,10 0,0,1 190,200 L 10,200 A 10,10 0,0,1 0,190 L 0,60 A 10,10 0,0,1 10,50 Z');
    }
}